.section-header {
	margin-bottom: 80px;

	&__title {
		@extend %header-big-style;
	}

	&__text {
		@extend %base-text-italic-style;
		font-size: $font-size-bigger;
		margin-top: 20px;
	}
}

.gap-section {
	@include var-gap-section;
}

.gap-section-smaller {
	@include var-gap-section(60px);
}

.gaps-hor {
	padding-left: $padding-horizontal;
	padding-right: $padding-horizontal;
}

.btn-big {
	@extend %header-style;
	display: inline-block;
	margin-top: 20px;
	width: 240px;
	height: 70px;
	line-height: 70px;
	color: $white;
	background-color: $yellow;
	text-transform: uppercase;
	@extend %border-none-radius;
	cursor: pointer;
	transition: $transition-time;

	&:hover {
		background-color: $white;
		color: $yellow;
		transform: scale(1.02);
	}
}

.btn-toTop {
	display: none;
	position: fixed;
	bottom: 25px;
	right: 30px;
	z-index: 100;
	@include icon-circle($social-icon-size, $yellow);
	font-size: $social-icon-size;
	background-color: $white;
	color: $yellow;
	cursor: pointer;
	transition: $transition-time;

	&:hover {
		color: $text-color;
		border-color: $text-color;
		background-color: $yellow;
		box-shadow: 0px 0px 10px $yellow;
		transform: scale(1.05);
	}
}